*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
 

.temp {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.temp .shape img:first-child{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
  left: -80px;
  top: -80px;
}

.temp .shape img:last-child {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  right: -30px;
  bottom: -80px;
} 

.formm form {
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13) !important;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  color: #080710;
}

.formm  input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: black;

}

::placeholder {
  color: #e5e5e5;
}

.formm button {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.formm button:hover{
    background-color: #829f66;
}

.formm .link {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  .formm .link:hover{
    background-color: #b8c0b0;
    color: #080710;
  }
  
.social {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap:25px;
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:1px;
}

.social-button button{
    margin-top:15px;
}