:root {
    --main-transition: 1s;
}

.update-page{
    background-color: rgb(235, 247, 247);
    
}
.container table tr th {
    background-color: rgb(235, 247, 247);
   
}

.container table tbody td {
    background-color: rgb(235, 247, 247);
}
tr{
    text-align: center;
 
}
th{
    width: 30px;

    
 }
.container{
    margin:4px;
}
.buttons{
    margin: 5px;
}
.buttons .operation{
    margin:1px;
    width: 100px;
}

table tbody tr td {
    border: none;
    text-align: center;
   
}
table  th {
    border: none;
}
table{
    width: 80%;
}
.operation{
    border-radius: 50px !important;
    transition: 1s;
}
.add-button{
    margin: 12px;
    font-size: 20px !important;
    color: antiquewhite !important;
    border-radius: 20px !important;

   
}
 
